/*
Responsive Media Queries
File Name: Media Queries Style for Laptops
Style URI: /laptop-style.css
Author: Alireza Nazari
Author URI: http://nazari.co/
Description: Ready to use media querises for laptops style
Version: 1.0.0
Tags: 
*/

