/*
Responsive Media Queries
File Name: Mobile Style
Style URI: /mobile-style.css
Author: Alireza Nazari
Author URI: http://nazari.co/
Description: Ready to use media querises for mobile style
Version: 1.0.0
Tags: Smartphones, iPads, iPads 3, iPhone 4, iPhone 5, iPhone 6, iPhone 6+, Samsung Galaxy S3, Samsung Galaxy S4 , Samsung Galaxy S5, Samsung Galaxy S6, Samsung Galaxy S7, Samsung Galaxy S8, Samsung Galaxy S9
*/

